#start-game{
    width: 80px;
    font-size: 25px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(129, 204, 150);
    text-align: center;
    border: 2px solid black;
    color: white;
}

*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: plum;
}


.animate{
    animation: jump 600ms;

}
.moveRight{
    animation: moveRight 100ms infinite;
}

#player img{
   
    
    height: 50px;
    width: 49px;
    
    
}

.attack{
    animation: antagonistAttack 2s infinite linear, antagonistRandomFlight 2s infinite;
}


#antagonist {
    
    position: relative;
    top: 300px;
   left: 100%;
    width: 50px;
    height: 50px;
   border: 2px solid rgb(93, 224, 137);
    font-size: 20px;
    box-shadow: 10px 5px 5px rgb(234, 82, 153);
    color: white;
   

}
#antagonist img{
    width:50px;
    height: 50px;
}

#antagonist2{
    width: 50px;
    height: 50px;
}


@keyframes antagonistAttack {
    0%{left: 100%;}
    100%{left: 0px;}
    
}
@keyframes antagonistRandomFlight {
    0%{top: 170px;}
    20%{top: 100px;}
    35%{top: 200px;}
    59%{top: 160px;}
    100%{top: 230px;}
    
}


#player{
    position: absolute;
    height: 50px;
    width: 50px;
    left:10px;
    top:400px ;  
    /*animation: jump 500ms infinite;*/
}
@keyframes jump {
    0%{top: 350px;}
    30%{top: 150px;}
    70%{top: 150px;}
    100%{top: 350px;}
    
}


#game-container{

    width:100%;
    height: 400px;
    border: 2px solid black;
    background-color: rgb(149, 178, 209);
    text-align: center;
    

}
#controll{
    position: relative;
width: 100%;
height: 100px;
border: 2px solid black;
}

#left-btn{
    display: inline-block;
   
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: 2px solid white;

}
#right-btn:active,#up-btn:active,#left-btn:active{
    transform:translate3d(3px,3px,0)
}

#up-btn{
  
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(51, 43, 43);
    border-radius: 20px;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 2px solid white;
}

#right-btn{
  
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(36, 28, 28);
    border-radius: 20px;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: 2px solid white;
    
}

#controll{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    
}

#score-board{
    padding: 6px;
    color: bisque;
    text-shadow: 1px 1px 2px pink;
    border: 1px solid black;
   
}

@media screen and (max-width: 767px) {
    #game-container{
        background-image: url(images/landscape-with-tall-trees-green-grass-with-flowers-flat-hand-drawn-illustration_119217-2204.avif) ;
        background-size: 100%;
    }
    
}

@media screen and (min-width: 780px){
  

    #game-container{
        background-image: url(images/forest-scene-with-various-forest-trees_1308-58384.avif);
        background-size: 100%;
    }
    
}